<ng-container *ngIf="activity && activityService.activities$ | async">
  <div class="clr-form-control custom-toggle">
    <div class="clr-control-container custom-container">
      <div class="clr-toggle-wrapper custom-wrapper">
        <input type="checkbox" id="{{activity.id}}" (click)="toggleActivity(activity.id)" [(ngModel)]="activity.active" class="clr-toggle">
        <label class="custom-label" for="{{activity.id}}">
          <div style="padding-right: 2.1rem">
            <app-pulsing-text [text]="activity.name" [pulseId]="activity.pulseId+'name'"></app-pulsing-text>
          </div>
        </label>
      </div>
    </div>
  </div>
</ng-container>
