<ng-container *ngIf="itemService.items$ | async as items">
  <div class="clr-row">
    <div class="clr-col-12">
      <clr-accordion>
        <clr-accordion-panel class="my-panel" [clrAccordionPanelOpen]="true">
          <clr-accordion-title>{{item.name}}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <app-shop [itemId]="item.id" *ngIf="mcpItem.amount >= Globals.visibleAmounts.shop"></app-shop>
            <app-item-card-footer [activityId]="activityId"></app-item-card-footer>
          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </div>
  </div>
