<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th colspan="3">Sell Amount</th>
      <th>Price/Per</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="item && itemService.items$ | async">
      <tr>
        <td><clr-icon attr.shape="{{item.icon}}" shape="" size="24" [ngStyle]="{'color': item.color}"></clr-icon></td>
        <td><button class="btn btn-link" (click)="itemService.sell(item.id, 10)">10%</button></td>
        <td><button class="btn btn-link" (click)="itemService.sell(item.id, 50)">50%</button></td>
        <td><button class="btn btn-link" (click)="itemService.sell(item.id, 100)">100%</button></td>
        <td>{{utilsService.formatCurrency(item.value)}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
