<clr-main-container>
  <app-layout-header></app-layout-header>
  <ng-container *ngIf="topNav === 'welcome'">
    <div class="content-container">
      <div class="content-area" style="padding-bottom: 50px;">
        <app-welcome></app-welcome>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="topNav === 'play'">
    <nav class="subnav my-subnav">
      <app-layout-subnav></app-layout-subnav>
    </nav>
    <div class="content-container">
      <div class="content-area my-content-area">
      <div class="clr-row">
        <div class="clr-col-12">
          <app-home *ngIf="contentNav === 'home'"></app-home>
          <app-shop *ngIf="contentNav === 'shop'"></app-shop>
          <app-exchange *ngIf="contentNav === 'exchange'"></app-exchange>
          <app-powers *ngIf="contentNav === 'powers'"></app-powers>
          <app-rebirth *ngIf="contentNav === 'rebirth'"></app-rebirth>
          <app-carnival *ngIf="contentNav === 'carnival'"></app-carnival>
        </div>
      </div>
      </div>
    </div>
  </ng-container>
</clr-main-container>
