.outlined {
  border-bottom: 1px solid lightgray;
}

@keyframes slider {
  0% {
    transform: translateX(0%)
  }
  95% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0%)
  }
}
