<div class="clr-row">
  <div class="clr-col-9">
    <div>
      Here, you can use your hard earned Mind Control Powers!
    </div>
    <app-powers-card [improvementType]="'powers'" [header]="'Next Level'">
      Beef up your Demagoguery and go to the next level!
      You will lose all:
      <ul>
        <li>Improvements from the Shop</li>
        <li>Improvements from the Exchange</li>
        <li>Mind Control Power</li>
      </ul><br />
      You will keep:
      <ul>
        <li>Humans</li>
      </ul>
    </app-powers-card>
    <app-powers-summary-card></app-powers-summary-card>
  </div>
  <div class="clr-col-3"></div>
</div>
