<table class="table" *ngIf="autobuyRawItem && itemService.items$ | async">
  <thead>
    <tr>
      <th>Improvement</th>
      <th>Level</th>
      <th>Cost</th>
      <th *ngIf="autobuyRawItem.amount">Autobuy</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let improvement of improvementService.improvements$ | async">
      <tr *ngIf="improvementType.includes(improvement.type) && improvee.includes(improvement.improvee) && improveeId.includes(improvement.improveeId)">
        <td>
          <button class="btn btn-sm btn-link" (click)="buyImprovement(improvement)">{{improvement.name}}</button>
        </td>
        <td>{{!improvement.levelMax ? improvement.level : improvement.level < improvement.levelMax ? improvement.level : 'Max'}}</td>
        <td>
          <span *ngFor="let costItem of improvement.itemsCost">
            <span *ngFor="let item of initialItems">
              <ng-container *ngIf="item.id == costItem.itemId">
                <clr-icon attr.shape="{{item.icon}}" size="16" [ngStyle]="{'color': item.color}"></clr-icon>
              </ng-container>
            </span>
            x <app-pulsing-text [text]="utilsService.formatNumber(costItem.itemAmount)" [pulseId]="costItem.pulseId"></app-pulsing-text><br />
          </span>
        </td>
        <td *ngIf="autobuyRawItem.amount">
          <input type="checkbox" clrCheckbox (click)="toggleAutobuy(improvement.id)" [ngModel]="improvement.autobuy" />
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
