::ng-deep .clr-checkbox-wrapper input[type=checkbox]+label::before {
  left: 1.2rem !important;
  top: 0 !important;
}
::ng-deep .clr-checkbox-wrapper input[type=checkbox]+label::after {
  left: 1.4rem !important;
  top: 0 !important;
}
