.activity-btn {
  color: white;
  clear: both;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.my-tooltip-content {
  background-color: #eee !important;
  color: black !important;
  border: 1px solid black !important;
  margin-bottom: .4rem !important;
}
.my-tooltip-content::before {
  bottom: -.50rem !important;
  right: -.05rem !important
}