<div class="clr-row">
  <div class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6" *ngFor="let itemActivity of rawItemActivityMap">
    <app-item-card [activityId]="itemActivity.activityId" [itemId]="itemActivity.itemId"></app-item-card>
  </div>
  <ng-container *ngIf="itemService.refineUnlocked()">
    <div class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6" *ngFor="let itemActivity of refineItemActivityMap">
      <app-item-card [activityId]="itemActivity.activityId" [itemId]="itemActivity.itemId"></app-item-card>
    </div>
  </ng-container>
</div>

<br /><br />
<button class="btn btn-outline" (click)="controlService.save()">Save</button>
<button class="btn btn-warning-outline" (click)="controlService.clear()">Clear</button>
<button class="btn btn-success-outline" disabled (click)="testAvailable = true">Test</button><br><br>

<ng-container *ngIf="testAvailable">
  <button class="btn btn-warning" (click)="cheat5()">5 Minutes into play</button><br>
  <button class="btn btn-warning" (click)="cheat20()">20 Minutes into play</button><br>
  <button class="btn btn-warning" (click)="setmcp(100000)">100,000 mcp</button><br>
  <button class="btn btn-warning" (click)="levelService.levelUp()">Level Up</button><br>
</ng-container>


<!-- <input type="text" [(ngModel)]="amounts[1]">
<button type="button" (click)="setAmount(1)">Set Rocks</button>
<br>
<input type="text" [(ngModel)]="amounts[7]">
<button type="button" (click)="setAmount(7)">Set Clay</button>
<br>
<input type="text" [(ngModel)]="amounts[3]">
<button type="button" (click)="setAmount(3)">Set Fish</button>
<br>
<input type="text" [(ngModel)]="amounts[2]">
<button type="button" (click)="setAmount(2)">Set Wood</button>
<br>
<input type="text" [(ngModel)]="amounts[8]">
<button type="button" (click)="setAmount(8)">Set Wheat</button> -->

<!-- <div class="clr-row" *ngIf="itemService.allowRefiningSet()">
  <div class="clr-col-12">
    <app-activity-card [cardHeader]="'Refine Materials'" [activityType] = "'refine'"></app-activity-card>
  </div>
</div> -->
