<section class="sidenav-content" style="padding-bottom: 0;" *ngIf="activityService.activities$ | async as activities">
  <clr-accordion [clrAccordionMultiPanel]="true">
    <clr-accordion-panel [clrAccordionPanelOpen]="true">
      <clr-accordion-title>Activities</clr-accordion-title>
      <app-accordion-activities></app-accordion-activities>
    </clr-accordion-panel>
    <clr-accordion-panel [clrAccordionPanelOpen]="true">
      <clr-accordion-title>Inventory</clr-accordion-title>
      <app-accordion-inventory></app-accordion-inventory>
    </clr-accordion-panel>
    <clr-accordion-panel [clrAccordionPanelOpen]="true">
      <clr-accordion-title>Demigod Stats</clr-accordion-title>
      <app-accordion-stats></app-accordion-stats>
    </clr-accordion-panel>
  </clr-accordion>
</section>
