<div class="card" *ngIf="mcpItem.amount < nextLevelAmount">
  <div class="card-header">
    <button class="btn btn-outline" disabled>
      {{header}} @ {{utilsService.formatNumber(nextLevelAmount)}}<clr-icon attr.shape="{{mcpItem.icon}}" size="18" [ngStyle]="{'color': mcpItem.color}"></clr-icon>
    </button>
  </div>
</div>
<div class="card" *ngIf="mcpItem.amount >= nextLevelAmount">
  <ng-container *ngIf="itemService.items$ | async as items">
    <div class="card-header">
      {{header}}
    </div>
    <div class="card-block">
      <div class="card-text">
        <ng-content></ng-content><br />
        You will receive bonuses from all previous levels, as well as:
        <ul>
          <li *ngFor="let summaryItem of nextLevelItem.levelSummary">{{summaryItem}}</li>
        </ul><br />
        <table class="table">
          <thead>
            <tr>
              <th>
                <clr-icon attr.shape="{{demigodItem.icon}}" size="18" [ngStyle]="{'color': demigodItem.color}"></clr-icon>
                Level
              </th>
              <th>
                <clr-icon attr.shape="{{mcpItem.icon}}" size="18" [ngStyle]="{'color': mcpItem.color}"></clr-icon>
                Minimum
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="nextLevelItem && levelService.levels$ | async">
              <tr>
                <td>{{nextLevelItem.id}} - {{nextLevelItem.name}}</td>
                <td>
                  {{utilsService.formatNumber(nextLevelAmount)}}
                </td>
                <td *ngIf="mcpItem.amount >= nextLevelAmount">
                  <button class="btn btn-sm btn-link" (click)="levelUp()">Level Up!</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
