<div *ngIf="mcpItem && mcpItem.amount >= Globals.visibleAmounts.money">
  <clr-icon attr.shape="{{moneyItem.icon}}" shape="" size="24" [ngStyle]="{'color': moneyItem.color}"></clr-icon>
  : <app-pulsing-text [text]="utilsService.formatCurrency(moneyItem.amount)" [initialPulse]="true"></app-pulsing-text>
</div>
<div *ngFor="let item of itemService.items$ | async">
  <ng-container *ngIf="item.visible">
    <div><clr-icon attr.shape="{{item.icon}}" shape="" size="24" [ngStyle]="{'color': item.color}"></clr-icon>
      : <app-pulsing-text [text]="item.amount"></app-pulsing-text>
      / <app-pulsing-text [text]="item.limit"></app-pulsing-text>
    </div>
  </ng-container>
</div>