<div class="clr-row">
  <div class="clr-col-9">
    <div>
      With your vast power, you can now rebirth!
    </div>
    <app-rebirth-card [improvementType]="'rebirth'" [header]="'Do it again but but better'">
      Start back from the beginning!<br />
      You will lose all:
      <ul>
        <li>Improvements from the Shop</li>
        <li>Improvements from the Exchange</li>
        <li>Mind Control Power</li>
        <li>Demigod Levels -> Back to 0</li>
      </ul><br />
      You will keep:
      <ul>
        <li>Humans</li>
      </ul>
    </app-rebirth-card>
  </div>
  <div class="clr-col-3"></div>
</div>
