.my-branding {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav .nav-link:hover {
  cursor: pointer;
}
.header-actions .nav-link:hover {
  cursor: pointer;
}
