<div class="card">
  <ng-container *ngIf="mcpItem && mcpItem.amount < Globals.visibleAmounts[improvementType] && itemService.items$ | async as items">
    <div class="card-header">
      <button class="btn btn-outline" disabled>
        @<clr-icon attr.shape="{{mcpItem.icon}}" size="18" [ngStyle]="{'color': mcpItem.color}"></clr-icon>
        {{utilsService.formatNumber(Globals.visibleAmounts[improvementType])}}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="mcpItem && mcpItem.amount >= Globals.visibleAmounts[improvementType] && itemService.items$ | async as items">
    <div class="card-header">
      {{header}}
    </div>
    <div class="card-block">
      <div class="card-text">
        <ng-content></ng-content><br />
        You will receive bonuses from all previous rebirths, as well as:
        <ul>
          <li *ngFor="let summaryItem of nextRebirthItem.levelSummary">{{summaryItem}}</li>
        </ul><br />
        <table class="table">
          <thead>
            <tr>
              <th>
                Rebirth
              </th>
              <th>
                <clr-icon attr.shape="{{mcpItem.icon}}" size="18" [ngStyle]="{'color': mcpItem.color}"></clr-icon>
                Minimum
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="nextRebirthItem && rebirthService.rebirths$ | async">
              <tr>
                <td>{{nextRebirthItem.id}}</td>
                <td>
                  {{utilsService.formatNumber(nextRebirthAmount)}}
                </td>
                <td *ngIf="mcpItem.amount >= nextRebirthAmount">
                  <button class="btn btn-sm btn-link" (click)="rebirth()">Rebirth!</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
